### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
heroes_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(heroes_data)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data['SN'].unique().tolist())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
number_of_items = len(purchase_data['Item ID'].unique().tolist())
number_of_items

183

In [4]:
average_purchase = purchase_data['Price'].mean()
average_purchase

3.050987179487176

In [5]:
number_of_purchases = purchase_data['Purchase ID'].count()
number_of_purchases

780

In [6]:
revenue = purchase_data['Price'].sum()
revenue

2379.77

In [7]:
summary_data_1 = {'number_of_items': [183],
                  'average_purchase': [3.05],
                  'number_of_purchases': [780],
                  'revenue': [2379.77]}

df_1 = pd.DataFrame(summary_data_1)
df_1.head()

   number_of_items  average_purchase  number_of_purchases  revenue
0              183              3.05                  780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
gender_groups = purchase_data.groupby('Gender')
users = gender_groups['SN'].nunique()
users.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [9]:
percent_of_users = (users/total_players)*100
percent_of_users.head()

summary_data_2 = {'Female':[.1406],
                'Male':  [.8403],
                'Other/Non-Disclosed':  [.0191]}

df_2 = pd.DataFrame(summary_data_2)

df_2["Female"] = df_2["Female"].map("{0:.2f}%".format)
df_2["Male"] = df_2["Male"].map("{0:.2f}%".format)
df_2["Other/Non-Disclosed"] = df_2["Other/Non-Disclosed"].map("{0:.2f}%".format)
df_2.head()

  Female   Male Other/Non-Disclosed
0  0.14%  0.84%               0.02%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
purchase_by_gender = gender_groups['Purchase ID'].count()


print(purchase_by_gender)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [11]:
average_price_gender = gender_groups['Price'].mean()

print(average_price_gender)

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [12]:
gender_revenue = gender_groups['Price'].sum()
print(gender_revenue)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [13]:
avg_gender = gender_revenue / purchase_by_gender
print(avg_gender)

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
bins = [6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
group_sn = purchase_data.groupby(['SN'])
group_sn.sum().head(10)

# top_spender = group_sn.sort_values("Price", ascending=False) - doesnt work?

              Purchase ID  Age  Item ID  Price
SN
Adairialis76          467   16      123   2.28
Adastirin33           142   35      175   4.48
Aeda94                388   17      128   4.91
Aela59                 28   21      119   4.32
Aelaria33             630   23      171   1.79
Aelastirin39          984   46      134   7.29
Aelidru27             705   22      183   1.09
Aelin32               723   60      326   8.98
Aelly27               471   48      130   6.79
Aellynun67            286   25      153   3.74

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
profitable = purchase_data.groupby(['Item Name'])
profitable.count().head(20)

,Purchase ID,SN,Age,Gender,Item ID,Price
Item Name,,,,,,
Abyssal Shard,5,5,5,5,5,5
"Aetherius, Boon of the Blessed",5,5,5,5,5,5
Agatha,6,6,6,6,6,6
Alpha,3,3,3,3,3,3
"Alpha, Oath of Zeal",3,3,3,3,3,3
"Alpha, Reach of Ending Hope",1,1,1,1,1,1
Amnesia,6,6,6,6,6,6
Apocalyptic Battlescythe,6,6,6,6,6,6
Arcane Gem,3,3,3,3,3,3
Avenger,6,6,6,6,6,6
Azurewrath,6,6,6,6,6,6
"Betrayal, Whisper of Grieving Widows",5,5,5,5,5,5
Betrayer,1,1,1,1,1,1
Blade of the Grave,4,4,4,4,4,4
"Blazefury, Protector of Delusions",3,3,3,3,3,3
"Blazeguard, Reach of Eternity",5,5,5,5,5,5
Blindscythe,5,5,5,5,5,5
Blood Infused Guardian,6,6,6,6,6,6
Blood-Forged Skeletal Spine,6,6,6,6,6,6
Bloodlord's Fetish,5,5,5,5,5,5

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [26]:
profitable.sum().head(50)

# profitable_items = sum_item_profit.sort_values(["Price"], ascending=False)    --this doesnt work?

                                       Purchase ID  Age  Item ID  Price
Item Name
Abyssal Shard                                 1140  111      810  13.35
Aetherius, Boon of the Blessed                2037  126      685  16.95
Agatha                                        2305  124      720  18.48
Alpha                                         2137   65      390   6.21
Alpha, Oath of Zeal                           1602   68      237  12.15
Alpha, Reach of Ending Hope                    664   31       47   3.58
Amnesia                                       2509  128      132  13.08
Apocalyptic Battlescythe                      3307  123      558  11.82
Arcane Gem                                     931   66      252  11.37
Avenger                                       1668  162      612  20.64
Azurewrath                                    2520  122      960  26.40
Betrayal, Whisper of Grieving Widows          1364  123      195  19.70
Betrayer                                       700   31       90   2.94
Blade of the Grave                             997   94      688  12.56
Blazefury, Protector of Delusions              687   82      267  13.92
Blazeguard, Reach of Eternity                 2359  124      640  24.55
Blindscythe                                   1685  102      500  16.35
Blood Infused Guardian                        2763  139      864  11.64
Blood-Forged Skeletal Spine                   1741  130      576  18.54
Bloodlord's Fetish                            1885  124       20   8.50
Bone Crushing Silver Skewer                   1399   99      660  19.44
Bonecarvin Battle Axe                         1501  109      220  11.90
Brimstone                                     1628  106       55  18.25
Brutality Ivory Warmace                       3661  176      600  19.36
Celeste                                        318   20       91   4.17
Celeste, Incarnation of the Corrupted         2469   89      268  13.84
Chaos, Ender of the End                       2275  129      145   9.90
Conqueror Adamantite Mace                     1847  104      325  21.20
Crucifer                                      1523   89       26  11.77
Crying Steel Sickle                           1606   78      318  10.23
Curved Axe                                     194   54       66   2.32
Darkheart                                     1452   87      608   6.96
Darkheart, Butcher of the Champion             858   29      316   4.90
Dawn                                          1758   93      200  18.40
Dawne                                         2965  155       72   6.12
Deadline, Voice Of Subtlety                   1087  120      490  14.45
Deathraze                                     1516  127      750  14.25
Deluge, Edge of the West                      1825  111      435  22.15
Demise                                        1908  146      497  11.27
Despair, Favor of Due Diligence               1174   77      228  18.40
Devine                                        1689  124      805   8.80
Downfall, Scalpel Of The Emperor              1242   67      327  14.28
Dragon's Greatsword                           1488   66      549   3.27
Dreamkiss                                      128   49      162   7.22
Dreamsong                                     1961  110      400  16.95
Emberling, Defender of Delusions              1414   98      440  18.75
Endbringer                                     181   16       51   4.66
Eternal Cleaver                               2111  139      324  15.00
Exiled Doomblade                              2829  132     1148  11.41
Exiled Mithril Longsword                       525   24      126   2.00

# Written Report

    From this data you can learn many things. From the gender specific data, you can learn who you should target your advertising towards, males or females. This is important because it allows for the most efficient use of the companies money. Another observable trend within this data was males spending the highest amount of money overall on the game. This relates to the first point, in that it is helpful to know this, in order to come up with a plan for advertising. The final observation that I made while analysizing this data is that despite having less total users, females average to spend 20 cents more on the game, than males. I thought this was interesting, due to the fact even though their total number of users is lower, they seem to be more financially invested in the game, when playing.